name: Docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Docker Hub login
        if: github.event_name != 'pull_request'
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - run: docker build -t rallycoding/react-test -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true rallycoding/react-test npm test

      - run: docker build -t rallycoding/multi-client ./client
      - run: docker build -t rallycoding/multi-nginx ./nginx
      - run: docker build -t rallycoding/multi-server ./server
      - run: docker build -t rallycoding/multi-worker ./worker

      - name: Push images
        if: github.event_name != 'pull_request'
        run: |
          docker push rallycoding/multi-client
          docker push rallycoding/multi-nginx
          docker push rallycoding/multi-server
          docker push rallycoding/multi-worker
